body{background: url("/img/1.png")}

*{
    padding:10px;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
  }


  section .Menu{
    position: relative;
    display: inline;
    top:-6vh;
    background-color:black;
  }

  section li{
    background-color: black;
  }

  section .Menu a{
    position:relative;
    font-size: 4vh;
    margin-left: 20vh;
    color:white;
    top:2vh;
  }



section{
    position: relative;
    justify-content: center;
    width:100%;
    text-align:right;
    display:inline-block;
    background-color: black;
    height:9vh;
    margin-bottom: 24px;
}


.Sub-Menu{
    position: relative;
    background-color:black;
    text-align: center;
    width:70%;
    height:14vh;
    top:1vh;
    left: 4.7vh;
}

section .Sub-Menu a{
  position:relative;
  font-size:3.3vh;
}
       
section li a:hover{
      border-bottom: 5px solid red;
}

section li a:hover {
  color:bisque;
}

            
section li>ul{
    display:none;
}

section li:hover>ul{
      display:block;
      position:absolute;
      top:30px;
      left:-10px;
}


 a .Img-Logo{
   position:absolute;
   width:8%;
   top:18px;
   left:17px;
 }



  @media (max-width: 768px){
  section{
    position:relative;
    font-size: 0.1vh;
  }
  
}




