body{background: url("/img/1.png")}

*{
    padding:10px;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
  }

  header{
    position:relative;
    background-color: black;
    text-align:right;
    width: 100%;
    height:7vh;  
  }

  header .Menu{
    position:relative;
    display:inline;
    font-size:2.4vh;
    top:-32px;
  }

  header li a{
    position:relative;
    color:white;
  }

  header li a:hover{
    border-bottom: 5px solid red;
    transition: 0.2s;
  }

  header .Sub-Menu{
    position:absolute;
    background-color:black;
    text-align: center;
    height:9vh;
    width: 15%;
    left:150vh;
  }



/*




  header li{
    position:relative;
    display:inline;
    font-size:2.1vh;
    top:-103px;
  }

  header a:hover{
    position:relative;
   border-bottom:5px solid red;
  }

  header a{
    color:white;
    background-color:red;
    top
  }
  /*
/*
  header .Sub-Menu{
    position:absolute;
    display:block;
    text-align:center;
    background-color:black;
    color:white;
    height:200px;
    width:100%;
    left:9%;
    top:100px;
  }*/

 

 
  




/*
  header .Cuenta:hover .Sub-Menu{
    position:relative;
    display:block;
    background-color:black;
  }*/


 


  @media (max-width: 768px){
  
    header{
    position:relative;
    text-align:right;
    height:200px;
    }

  header .Menu{
    position:relative;
    margin-left:35px;
    font-size:20px;
    top:-25px;
  }

  a .Img-Logo{
    position:relative;
    border:5px solid gray;
    top:-170px;
    left:10px;
    border-radius:5px;
  }
}




